body
{
    margin-top: 10px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    margin-left: 0px;
    color: #2d4564;
    background-color: #dcdcdc;
    margin-right: 0px;
	text-align: justify;
}

.maintable
{
    margin-bottom: 10px
}

.maincontent
{
    margin: 15px
}

h1, h2, h3, h4
{
    font-size: 12px;
}

td
{
    font-size: 11px;
}

.title
{
    font-size: 28px;
    letter-spacing: 3px;
    text-align: center;
}

a:link
{
    color: #0033ff;
    text-decoration: none;
}

a:visited, a:active, a:hover
{
    color: #cc0000;
}

hr
{
    color: #2D4564;
    height: 1px;
}

.A_navigatie, .A_navigatie_current
{
	font-size: 12px;
	padding-left: 10px;
}

.A_navigatie a:link, .A_navigatie a:visited, .A_navigatie a:hover
{
    display: block;
	padding-left: 10px;
	color: #2d4564;
    background-color: #c5e0f7;
    text-decoration: none;
}

.A_navigatie_current a:link, .A_navigatie_current a:visited, .A_navigatie_current a:hover
{
    display: block;
	padding-left: 10px;
    color: #ffffff;
    background-color: #2d4564;
    text-decoration: none;
}

.pagebreak
{
    page-break-before: always;
}

.field
{
	background-color: #f1f1ff;
}

.nice
{
	background-color: #ffffff;
}

table.nice
{
    font-size: 11px;
	background-color: #000000;
}

.footer_left
{
	float: left;
	padding: 10px;
    font-size: 10px;
}

.footer_right
{
	float: right;
	padding: 10px;
	font-size: 12px;
}

#vliz_auth_box
{
	padding-right: 28px;
}

/* round corners of layer switcher, and make it transparent */
.olControlLayerSwitcher .layersDiv {
	border-radius: 10px 0 0 10px;
	opacity: 0.75;
	filter: alpha(opacity=75);
}

#status_time{
	text-align: center;
}

#disclaimer{
	text-align: right;
	font-size: 12px;
}

.hbig
{
    font-size: 16px;
    font-weight: bold;
}

hr { 
    border: 0;
    height: 1px;
    background: #000;
}

#maintable{
    text-align: center;
    border: 0px; 
    border-spacing: 0px;
    border-collapse: separate;
    width: 982px;
    background-color: #002F2F; 
    margin-top: 2px;
    margin-left:auto; 
    margin-right:auto;
}