/* CSS Document */

#tooltipcontainer {
	width:250px;
	position:absolute;
/*	background-color:#CCCCCC;*/
	z-index:999;
}
#tooltipcontainer div {
	position:relative;
/*	top:-3px;
	left:-3px; */
	border:1px solid #596F80;
	/*background-color:#DDDDDD;*/
	background-color:#EEEE00;
	filter:alpha(opacity=90);
	-moz-opacity:.90;
	opacity:.90;
	color:#000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	z-index:1000;
}
#tooltipcontainer div h1 {
	margin:0;
	padding:1px;
	font-size:15px;
	background-color: #000066;
	color:#99FFFF;
}
#tooltipcontainer div span {
	margin:2px 3px;
	font-size:10px;
	color:#000000;
	display:block;
}

