.layer-switcher {
    position: absolute;
    left: auto;
    right: 0.5em;
    top: 0.5em;
    bottom: auto;
    text-align: left;
}
.layer-switcher.shown {
    bottom: 0.5em;
}
.tooltip {
    padding: 5px;
    background-color: #ffffff;
}
